
:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

body {
  color: rgb(var(--foreground-rgb));
}

video {
  transform: rotateY(180deg);
  border-radius: 8px;
}

form {
  width: 100%;
}

.relative-video-container {
  position: relative;
}

p.video-overlay {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 100%;
  background: black;
  height: 30px;
  font-size: 18px;
  color: white;
  text-align: center;
}